	<%= simple_form_for(@article) do |f| %>
		<% if @article.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

				<ul>
				<% @article.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field">
			<%= f.input :image_a_la_une %>
		</div>
		<div class="field">
			<%= f.input :titre %>
		</div>
		<div class="field">
			<%= f.input :surtitre %>
		</div>
		<div class="field">
			<%= f.input :soustitre %>
		</div>
		<div class="field">
          <%= cktext_area :article, :contenu, :cols => 40, :ckeditor => {:uiColor => '#55C3A0', :toolbar => 'full'} %>
        </div>

		<div class="field">
			<%= f.association :rubrique, label_method: :titre, prompt: "Choisissez une rubrique" %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>


