<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>
	<div class="row ">
		<div class="col-lg-12">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-md-6">
						<%= image_tag 'touba.jpeg', class:'img-responsive'  %>
					</div>
					<div class="col-md-6">
						<h1>There is still a lot to be said about the Responsive Web.</h1>
						<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur deserunt dolor ex facilis impedit itaque necessitatibus nostrum perspiciatis quis, quo repellat repellendus soluta unde vel veniam voluptatibus? Architecto, sint?</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr/>
  <div class="container" >


    <div id="my-articles">
      <%= render @articles %>
    </div>

    <div id="infinite-scrolling">
      <%= will_paginate %>
    </div>

  </div>




	<% if current_user %>
		<%= link_to 'New Article', new_article_path %>
	<% end %>
	</div>

<script>
  $(function(){
      $('.time_display').each(function() {
          this.textContent = moment(this.textContent).fromNow();
      });
  });
</script>
