<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Surtitre</th>
      <th>Soustitre</th>
      <th>Descriptif</th>
      <th>Contenu</th>
      <th>Popularite</th>
      <th>Rubrique</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.titre %></td>
        <td><%= article.surtitre %></td>
        <td><%= article.soustitre %></td>
        <td><%= article.descriptif %></td>
        <td><%= article.contenu %></td>
        <td><%= article.popularite %></td>
        <td><%= article.rubrique %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
