<div class="container">
	<div class="col-lg-8">

		<!-- Blog Post -->

		<!-- Title -->
		<h1><%= @article.titre %></h1>



		<!-- Preview Image -->
		<%= image_tag(@article.image_a_la_une, :class => "img-responsive") %>
		<hr>

		<!-- Post Content -->
		<p class="article">
          <%= @article.surtitre %>
          <%= @article.contenu.html_safe %></p>
		<br/>
		<!-- Author -->
		<p class="">
			by <a href="#">Author's name</a>, <%= @article.rubrique.titre.humanize %>
		</p>
      <p><span class="glyphicon glyphicon-time"></span> Posted on <%=l @article.created_at %></p>

		<% if current_user %>
			<%= link_to 'Edit', edit_article_path(@article) %> |
			<%= link_to 'Back', articles_path %>
		<% end %>

		<hr>

		<!-- Blog Comments -->

		<!-- Comments Form -->
		<div class="well">
			<h4>Leave a Comment:</h4>
			<form role="form">
				<div class="form-group">
					<textarea class="form-control" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

		<hr>

      <div>
        <%- disqus_thread %>
      </div>

	</div>

	<%= render 'home/left_part' %>


</div>

<script >
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1397110283902092";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>