<div class="container">
	<div class="col-lg-8">

		<!-- Blog Post -->

		<!-- Title -->
		<h1><%= @article.titre %></h1>


		<hr>

		<!-- Date/Time -->


		<hr>

		<!-- Preview Image -->
		<%= image_tag(@article.image_a_la_une, :class => "img-responsive") %>
		<hr>

		<!-- Post Content -->
		<p class="article"><%= @article.contenu.html_safe %></p>
		<br/>
		<!-- Author -->
		<p class="">
			by <a href="#">Author's name</a>, <%= @article.rubrique.titre.humanize %>
		</p>
      <p><span class="glyphicon glyphicon-time"></span> Posted on <%=l @article.created_at %></p>

		<% if current_user %>
			<%= link_to 'Edit', edit_article_path(@article) %> |
			<%= link_to 'Back', articles_path %>
		<% end %>

		<hr>

		<!-- Blog Comments -->

		<!-- Comments Form -->
		<div class="well">
			<h4>Leave a Comment:</h4>
			<form role="form">
				<div class="form-group">
					<textarea class="form-control" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

		<hr>

		<!-- Posted Comments -->

		<!-- Comment -->
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object" src="http://placehold.it/64x64" alt="">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Start Bootstrap
					<small>August 25, 2014 at 9:30 PM</small>
				</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			</div>
		</div>

		<!-- Comment -->
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object" src="http://placehold.it/64x64" alt="">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Start Bootstrap
					<small>August 25, 2014 at 9:30 PM</small>
				</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				<!-- Nested Comment -->
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" src="http://placehold.it/64x64" alt="">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Nested Start Bootstrap
							<small>August 25, 2014 at 9:30 PM</small>
						</h4>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
				</div>
				<!-- End Nested Comment -->
			</div>
		</div>

	</div>
	<div class="col-md-4">
		Articles connexes
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto atque beatae consequuntur, deleniti dicta eligendi enim eos excepturi exercitationem illo illum iure nemo quaerat suscipit? Dicta saepe temporibus vel!</p>
	</div>
	<%= render 'home/left_part' %>


</div>