
<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 ">

      <!------------------------------------- THE CONTENT ------------------------------------------------->
      <div id="lofslidecontent45" class="lof-slidecontent">

        <div class="preload"><div></div></div>
        <!-- MAIN CONTENT -->

        <div class="lof-main-wapper">
          <%= @a_la_une.each do |slide| %>
          <div class="lof-main-item">
            <%= image_tag slide.image_a_la_une.url(:medium) %>
            <div class="lof-main-item-desc">
              <h3><%= link_to slide.titre, slide %></h3>

              <p><%= slide.surtitre.truncate(100) %>... <i class="fa fa-book" style="color: #ffffff"></i></p>
            </div>
          </div>
          <% end %>
        </div>

        <!-- END MAIN CONTENT -->
        <!-- NAVIGATOR -->

        <div class="lof-navigator-outer">
          <ul class="lof-navigator">
            <%= @a_la_une.each do |slide| %>
            <li>
              <div>
                <%= image_tag slide.image_a_la_une.url(:medium, class: 'img') %>
                <p><%= slide.titre%></p>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>

      
</div>
