<%= javascript_include_tag 'jquery.timelinr-0.9.54' %>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Acceuil</h4>
        </div>
    </div>

    <div class="row">
        <%= render 'home/slider' %>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12 " width="660" height="515" >
          <div class=" " id="#">
            <h4 style="text-align: center"><%= @dossier.titre %></h4>
            <p style="text-align: center"><%= @dossier.contenu.html_safe %></p>
          </div>
        </div>

        <%= render 'fil_dactu' %>
    </div>
    <br/><br/>
  <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="videoWrapper">
            <iframe width="660" height="515" src="https://www.youtube.com/embed/Xmc_VAoGHBM?list=PLUw-0N-Li1kWn9bP31mN_x8YeTOE6wyZn" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div >
          <%= render 'left_part' %>
        </div>
    </div>
  <br/><br/>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= render 'informations' %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= render 'sagesse' %>
      </div>
      <%= render 'mouride_de_la_semaine' %>
    </div>
    <br/><br/>
    <div class="row">

      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            Photos de la semaine
          </div>
        </div>
        <div class="row">
          <%= image_tag('http://www.dakaractu.com/photo/art/default/4796555-7171363.jpg?v=1349777835', class: 'center-block') %>

        </div>
      </div>

    <%= render 'contrib_tem' %>

    </div>
  <br/><br/>
  <div class="row">

      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            Top Vidéos
          </div>
        </div>
        <div class="dashboard-div-wrapper  actuq" id="#">

          <div class="col-md-4 col-sm-6 col-xs-12 ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0RfEasm3LQ0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DDz38Ahh-AA" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 ">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/CkFNnTPFwIs" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 ">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/Xmc_VAoGHBM" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 r">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/Xmc_VAoGHBM?list=PLUw-0N-Li1kWn9bP31mN_x8YeTOE6wyZn" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 ">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/Xmc_VAoGHBM?list=PLUw-0N-Li1kWn9bP31mN_x8YeTOE6wyZn" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 ">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/Xmc_VAoGHBM?list=PLUw-0N-Li1kWn9bP31mN_x8YeTOE6wyZn" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 r">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/Xmc_VAoGHBM?list=PLUw-0N-Li1kWn9bP31mN_x8YeTOE6wyZn" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 ">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/Xmc_VAoGHBM?list=PLUw-0N-Li1kWn9bP31mN_x8YeTOE6wyZn" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 ">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/Xmc_VAoGHBM?list=PLUw-0N-Li1kWn9bP31mN_x8YeTOE6wyZn" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 ">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/Xmc_VAoGHBM?list=PLUw-0N-Li1kWn9bP31mN_x8YeTOE6wyZn" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 ">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/Xmc_VAoGHBM?list=PLUw-0N-Li1kWn9bP31mN_x8YeTOE6wyZn" frameborder="0" allowfullscreen></iframe>
          </div>

          <%= link_to 'Plus de vidéos', '#', {class: 'button-link read-more btn btn-primary btn-lg'}%>
        </div>
      </div>

    <%= render 'photo' %>
    <%= render 'pub' %>

  </div>

  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          Bon à savoir
        </div>
      </div>
      <div class="panel-body">
        <div class="panel-group" id="accordion">
          <% @a_savoir.each do |savoir|  %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= savoir.id %>" class="collapsed"><%= savoir.titre %><i class="fa fa-book" style="color: #228B22">Lire</i></a>
                  </h4>
                </div>
                <div id="collapse<%= savoir.id %>" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <%= savoir.titre %>
                    <%= savoir.surtitre + " " +savoir.contenu.html_safe %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'decouverte' %>

  </div>
  <div class="row">

      <%= image_tag('arton1061.gif', class: 'center-block') %>




  </div>

    <%= render 'event' %>





</div>
