<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Acceuil</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 ">
          <section id="news-demo">
            <article>
              <div class="text-content">
                <h2>Boats by the bay</h2>
                <p>This summer there were, surprise surprise, boats on the bay! Often the sun will shine and when it's partially cloudy we get the 'God' or 'Holy Light' effect. It's pretty cool huh? I wonder what it's pointing to... treasure? Bitcoins?</p>
                <a href="#!" class="button-link read-more">read more</a>
              </div>
              <div class="image-content"><%= image_tag('http://placehold.it/750x350') %></div>
            </article>
            <article>
              <div class="text-content">
                <h2>The winter is coming</h2>
                <p>And isn't it pretty? It's strange, people who live through heavy winters seem to want to get out of it as soon as possible, yet those who live in more temperate climates see snow and a 'real' winter as an amazing thing that must be experienced.</p>
                <a href="#!" class="button-link read-more">read more</a>
              </div>
              <div class="image-content"><%= image_tag('http://placehold.it/750x350') %></div>
            </article>
            <article>
              <div class="text-content">
                <h2>In front of Versailles</h2>
                <p>The Palace of Versailles is pretty amazing, not just inside, but also the outside garden, where you'll find gardens like these sporting amazing ranges of flora.</p>
                <a href="#!" class="button-link read-more">read more</a>
              </div>
              <div class="image-content"><%= image_tag('http://placehold.it/750x350') %></div>
            </article>
          </section>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="dashboard-div-wrapper bk-clr-one actuprincip" id="#">
              <i class="fa fa-venus dashboard-div-icon" ></i>
              <h5>Dossiers & Reportages</h5>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <h3 class="text-center">Fil d'actu</h3>
            <ul id="nt-example1" class="newsticker">
                <% @info_continu.each do |info| %>
                    <li><%= info.titre %> <%= link_to info, 'Read more' %> </li>
                <% end %>
            </ul>
        </div>
    </div>


        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="videoWrapper">
            <iframe width="660" height="515" src="https://www.youtube.com/embed/Xmc_VAoGHBM?list=PLUw-0N-Li1kWn9bP31mN_x8YeTOE6wyZn" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div >
          <%= render 'left_part' %>
        </div>


    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-div-wrapper bk-clr-one actuprincip" id="#">
            <i class="fa fa-venus dashboard-div-icon" ></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div>
            </div>
            <h5>Témoignages</h5>
        </div>
    </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-div-wrapper bk-clr-one actuprincip" id="#">
          <i class="fa fa-venus dashboard-div-icon" ></i>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            </div>
          </div>
          <h5>Sagesse</h5>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 text-center">
        <h3>Mouride  de la semaine </h3>
        <%= image_tag('http://magal-touba.org/magal/IMG/arton941.jpg', class: 'center-block') %>
        <h5>SERIGNE DAME ABDOURAHMANE LO : le Grand Maître, une des grandes figures du Mouridisme.</h5>
        <p>Serigne Cheikh Abdourahmane LO, un des fidèles copagnons de Cheikh Ahmadou Bamba, faisait partie de cette génération qui reçut du Cheikh lui-même une éducation pratique, une formation mystique ainsi que les fondements essentiels de sa nouvelle voie : le Mouridisme.</p>
      </div>


  <script type="text/javascript" charset="utf-8">

  </script>




</div>

