<%= simple_form_for(@evenement) do |f| %>
  <% if @evenement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evenement.errors.count, "error") %> prohibited this evenement from being saved:</h2>

      <ul>
      <% @evenement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= f.input :image, as: :file %>
    </div>
  <div class="field">
    <%= f.input :titre %>
  </div>
    <div class="field">
      <%= f.input :date %>
    </div>
  <div class="field">
    <%= cktext_area :evenement, :descriptif, :cols => 40, :ckeditor => {:uiColor => '#55C3A0', :toolbar => 'full'} %>
  </div>
  <div class="field">
    <%= f.input :status %>
  </div>
  <div class="field">
    <%= f.input :lieu %>
  </div>
  <div class="field">
    <%= f.input :latitude %>
  </div>
  <div class="field">
    <%= f.input :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
