<%= form_for(@evenement) do |f| %>
  <% if @evenement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evenement.errors.count, "error") %> prohibited this evenement from being saved:</h2>

      <ul>
      <% @evenement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %><br>
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label :descriptif %><br>
    <%= f.text_field :descriptif %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :lieu %><br>
    <%= f.text_field :lieu %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
